.sidebar {
 min-height: 100vh;
 position: fixed;
 padding: 1.3rem;
 background: #fff;
 border-right: 1px solid #dfdfdf;
 transition: width 2s;
 z-index: 20;
}

.sidebar.hide {
 padding: 1.3rem 1rem;
}

.toggle-sidebar {
 position: absolute;
 right: -1.2rem;
 top: 3.5rem;
 background-color: #fff;
 width: 2.4rem;
 height: 2.4rem;
 border: 1px solid #dfdfdf;
 border-radius: 50%;
 cursor: pointer;
}

.toggle-sidebar > i {
 font-size: 12px;
 font-weight: 600;
 color: #484848;
}

.toggle-sidebar:hover {
 border-color: #ff4141;
}

.logo-telkomsel {
 position: relative;
 object-fit: cover;
 width: 7rem;
 height: 2rem;
}

.sidebar.hide > .logo-telkomsel {
  width: 2rem;
  margin: auto;
}

.menu-wrapper {
 margin-top: 3rem;
 display: flex;
 flex-direction: column;
 gap: .5rem;
}

.menu {
 display: flex;
 gap: 1rem;
 align-items: center;
 padding: 0.7rem 1rem;
 border-radius: 10px;
 cursor: pointer;
 border: 2px solid transparent;
}

.menu-icon {
 font-weight: 500;
}

.menu-title {
 font-weight: 500;
 color: #484848;
 white-space: nowrap;
}

.menu.active,
.menu:hover {
 background-color: #ffefef;
}

.menu:is(.active, :hover) > :is(.menu-title, .menu-icon) {
 color: #ff4141;
}

.menu:active {
 border-color: #ff4141;
}
